.g-grid {
  display: grid;
}

.g-align-items-center {
  align-items: center;
}

.g-jistify-content-center {
  justify-content: center;
}

.g-jistify-content-end {
  justify-content: end;
}

.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.g-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.g-col-initial {
  grid-template-columns: initial;
}

.g-row-gap {
  row-gap: 0.5rem;
}

.theme--dark.v-footer {
  color: rgba(255, 255, 255, 0.47) !important;
  background-color: rgba(39, 39, 39, 0.4) !important;
}

.theme--light.v-footer {
  color: rgba(0, 0, 0, 0.47) !important;
  background-color: rgba(245, 245, 245, 0.4) !important;
}

.theme--dark .footer-icon {
  filter: invert(0.2) sepia(0.3) drop-shadow(0 4px 3px rgba(255, 255, 255, 0.5));
}

.theme--light .footer-icon {
  filter: invert(0.2) sepia(0.3) blur(0.5px)
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.5));
}

.relative {
  position: relative;
}
